.app {
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.app-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background-color: $primary;

  transition: transform ease 0.3s;
  will-change: transform;
}

.user-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background-color: #fff;

  transition: transform ease 0.3s;
  will-change: transform;
}

.wrapper {
  max-width: 600px;
}

@media screen and (max-width: 600px) {
  .app {
    &[data-menu-open="true"] {
      .app-panel {
        transform: translateX(-100%);
      }
      .user-panel {
        transform: translateX(0);
      }
    }
  }

  .app-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      margin: auto 0;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 14px;
        height: 18px;
        border: 4px solid rgba(0, 0, 0, 0);
        border-width: 0 0 0 8px;
        background-clip: padding-box;
        background-color: rgba($color: $primary--dark, $alpha: 0.3);
      }
      &::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        border-width: 0 0 0 8px;
        background-clip: padding-box;
        background-color: rgba($color: $primary--dark, $alpha: 0.5);
        box-shadow: inset -1px -1px 0px
            rgba($color: $primary--dark, $alpha: 0.3),
          inset 1px 1px 0px rgba($color: $primary--dark, $alpha: 0.3);
      }
      &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
      }
      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
    }
  }

  .user-panel {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    transform: translateX(100%);

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      margin: auto 0;
      overflow-y: auto;

      text-align: center;
    }
  }

  .user-panel-button {
    justify-self: flex-end;
    flex-shrink: 0;

    width: 100%;
    padding: 10px;
    margin-top: 20px;

    appearance: none;
    border-color: transparent;
    border-radius: 5px;

    color: $primary--dark;
    background-color: #fff;

    font-weight: bold;
  }
}
