@import "./variables";
@import "./buttons";
@import "./typography";
@import "./layout";

html,
body {
  position: relative;
  overflow-x: hidden;
  background-color: $primary;
}

.gif-image {
  display: block;
  max-width: 100%;
  margin: 1em 0;
}

.lectures-input {
  margin: 1em 0;
  resize: none;
}

.lectures-table {
  .ant-table-body {
    margin: 0 !important;
  }

  margin: 1em 0;

  .ant-table-small {
    border-color: transparent;
  }

  thead {
    background-color: $primary--dark;

    span {
      color: #fff;
    }
  }

  .inner-table {
    thead {
      background-color: transparent;

      span {
        color: $primary--dark;
      }
    }

    tbody {
      background-color: transparent;
    }
  }

  tbody {
    background-color: #fff;
  }
}
