@import "./variables";
@import "./google-button";
@import "./typography";

.full-height {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.app-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background-color: $primary;
}

.user-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

.wrapper {
  max-width: 600px;
}

.gif-image {
  display: block;
  max-width: 100%;
  margin: 1em 0;
}

.wd-button {
  background-color: rgb(0, 104, 91);
  border-color: rgb(0, 104, 91);
  color: #fff;

  &:hover {
    background-color: rgb(0, 104, 91);
    border-color: rgb(0, 104, 91);
    color: #fff;
    opacity: 0.8;
  }
}

.lectures-input {
  margin: 1em 0;
  resize: none;
}

.lectures-table {
  .ant-table-body {
    margin: 0 !important;
  }

  margin: 1em 0;

  .ant-table-small {
    border-color: transparent;
  }

  thead {
    background-color: $primary--darker;

    span {
      color: #fff;
    }
  }

  .inner-table {
    thead {
      background-color: transparent;

      span {
        color: $primary--dark;
      }
    }

    tbody {
      background-color: transparent;
    }
  }

  tbody {
    background-color: #fff;
  }
}
