@import "./variables";
@import "./google-button";
@import "./typography";

.full-height {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.app-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background-color: $primary;
}

.user-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

.wrapper {
  max-width: 600px;
}

.gif-image {
  display: block;
  max-width: 100%;
  margin: 1em 0;
}
