service cloud.firestore {
  match /databases/{database}/documents {
    match /lectures/{lecture} {
      allow read: if request.auth.uid != null;
      allow write: if false;
    }
    match /workbooks/{workbook} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}